<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="kodfun-galeri" >
    <div style="background-image: url('https://scontent.fsgn2-9.fna.fbcdn.net/v/t39.30808-6/292094781_640764874327095_3250749704922168932_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=Y0dZaGkpJgQAX_18uqU&_nc_ht=scontent.fsgn2-9.fna&oh=00_AfBifO6-9SmRLm6k3wk8boVG-yKp1_hP4JcnTnkaprrCeQ&oe=644E7064');"></div>
    <div style="background-image: url('https://scontent.fsgn2-5.fna.fbcdn.net/v/t39.30808-6/277806610_580005770403006_61192097641019334_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=174925&_nc_ohc=sQZexFfWj7MAX_6FnJ_&_nc_ht=scontent.fsgn2-5.fna&oh=00_AfCHzAPZpD0eDxhszZGRsPckeFHAfXnsp_d1pSliLAK4fA&oe=644D4468');"></div>
    <div style="background-image: url('https://scontent.fsgn2-9.fna.fbcdn.net/v/t39.30808-6/277782616_580318390371744_6453307346737955175_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=19026a&_nc_ohc=lG7Y5PVmdQkAX91E-VV&_nc_ht=scontent.fsgn2-9.fna&oh=00_AfBhHQT93zXS2Kao7HdaoP7RXLZ6Dfy6T1H9jkvysOHGcQ&oe=644DBEBB');"></div>
    <div style="background-image: url('https://scontent.fsgn2-9.fna.fbcdn.net/v/t39.30808-6/331235693_579492917177152_2818078729364863721_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=H5odIE2lCKUAX9SkO7t&_nc_ht=scontent.fsgn2-9.fna&oh=00_AfADGjlH9isbfmVTnAH3JwjfFtAiJqTidie1xlk-XwJNaw&oe=644D1B41');"></div>
    <div style="background-image: url('https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/274007987_550012510068999_1132238560263111363_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=QqO2W_apBdsAX8R38I7&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfAIkOSUhHhOpO656SHF-K7SJJvcf3YuDzCUIfJEiobh2A&oe=644DD972');"></div>
    <div style="background-image: url('https://scontent.fsgn2-9.fna.fbcdn.net/v/t39.30808-6/257664893_491360425934208_3481100894616671053_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=0debeb&_nc_ohc=bPVKcaYhp38AX8jqkvz&_nc_ht=scontent.fsgn2-9.fna&oh=00_AfDff5pvh9Wq0Xkmyxx6aP7uaBY91s8mnkgeSmcyRFewlA&oe=644E7E91');"></div>
</div>
</body>
<style>

    .kodfun-galeri{
        display: flex;
        height: 20rem;
        gap: 1rem;
    }
    .kodfun-galeri > div {
        flex: 1;
        border-radius: 1rem ;
        background-position:center ;
        background-repeat: no-repeat ;
        background-size:auto 100% ;
        transition: all .8s cubic-bezier(.25,.4,.45,1.4);
    }
    .kodfun-galeri > div:hover{
        flex: 5;
    }
</style>
</html>