body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*thông css*/
.shopping-cart {
  padding: 90px 0px 160px 0px; }
@media (max-width: 991px) {
  .shopping-cart {
    padding: 60px 0px 80px 0px; } }
@media (max-width: 991px) {
  .shopping-cart .container .container {
    padding: 0px; } }

/* Title */
.shopping-cart__title {
  font-size: 48px;
  text-align: center;
  padding: 0px 0px 80px 0px;
  margin: 0px; }
@media (max-width: 1098px) {
  .shopping-cart__title {
    font-size: 40px; } }
@media (max-width: 991px) {
  .shopping-cart__title {
    font-size: 26px;
    padding-bottom: 40px; } }

/* Cart container */
.shopping-cart__container {
  padding-right: 70px; }
@media (max-width: 1098px) {
  .shopping-cart__container {
    padding-right: 20px; } }
@media (max-width: 991px) {
  .shopping-cart__container {
    padding-right: 0px; } }

/* Table */
.shopping-cart__table {
  width: 100%; }
.shopping-cart__table tr {
  vertical-align: top; }
.shopping-cart__table thead tr th {
  padding: 10px 15px 10px 15px;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5px; }
@media (max-width: 991px) {
  .shopping-cart__table thead tr th {
    font-size: 13px; } }
.shopping-cart__table thead tr th:first-child {
  padding-left: 0px; }
.shopping-cart__table thead tr th:last-child {
  padding-right: 5px; }
.shopping-cart__table tbody tr td {
  border-top: 1px solid #dedede;
  padding: 20px 15px; }
.shopping-cart__table tbody tr td:first-child {
  padding-left: 0px; }
.shopping-cart__table tbody tr td:last-child {
  padding-right: 5px; }

/* Cart product */
.shopping-cart__product {
  display: flex; }

/* Cart product image */
.cart-product__image {
  width: 70px;
  min-width: 70px; }
.cart-product__image a {
  display: block;
  position: relative;
  padding-bottom: 139.948%; }
.cart-product__image a img {
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  object-fit: cover; }

/* Title and variant */
.cart-product__title-and-variant {
  padding-left: 20px;
  padding-top: 6px;
  min-width: 140px; }

.cart-product__title {
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 0;
  letter-spacing: 0px;
  color: #000;
  font-family: "Jost";
  font-weight: 400; }
@media (max-width: 991px) {
  .cart-product__title {
    font-size: 14px; } }
.cart-product__title a {
  color: #000;
  letter-spacing: 0.5px; }
.cart-product__title a:hover {
  color: #928656; }

.cart-product__variant {
  font-size: 14px;
  color: #999999;
  padding: 6px 0px 0px 0px; }
@media (max-width: 991px) {
  .cart-product__variant {
    font-size: 12px; } }

.cart-product__action {
  padding: 11px 0px 0px 0px; }
.cart-product__action a {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-decoration: underline; }
@media (max-width: 991px) {
  .cart-product__action a {
    font-size: 11px; } }

/* Quantity */
.cart-product__quantity-field {
  max-width: 80px;
  min-width: 70px;
  position: relative; }

.quantity-field__minus {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%); }
.quantity-field__minus a {
  display: block;
  padding: 5px; }

.quantity-field__plus {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%); }
.quantity-field__plus a {
  display: block;
  padding: 5px; }

.quantity-field__input {
  display: block;
  width: 100%;
  text-align: center;
  padding: 7px 15px;
  margin: 0px;
  border: 1px solid #d0d0d0;
  outline: none;
  height: 34px;
  font-size: 16px;
  line-height: 1.3;
  color: #000; }
@media (max-width: 991px) {
  .quantity-field__input {
    font-size: 14px; } }
.quantity-field__input:focus {
  border-color: #000; }

/* Price */
.cart-product__price {
  padding-top: 6px;
  font-size: 16px;
  line-height: 1.3;
  color: #000; }
@media (max-width: 991px) {
  .cart-product__price {
    font-size: 14px; } }

/* Delete */
.cart-product__delete {
  padding-top: 1px; }
.cart-product__delete a {
  font-size: 12px;
  color: #000;
  line-height: 1.3; }

/* Discount form */
.shopping-cart__discount {
  margin: 40px 0px 0px 0px;
  border: 1px solid #d0d0d0;
  padding: 24px 29px 29px 29px; }
@media (max-width: 991px) {
  .shopping-cart__discount {
    padding: 20px 25px 25px 25px; } }
.shopping-cart__discount form {
  margin: 0px;
  padding: 0px;
  position: relative; }

